:root {
  --green: #00ff9f;
  --purple: #9c7bff;
  --shadow-1: 1.5vmin 1.5vmin #000;
  --border: solid 1vmin #000;
  --border-small: solid 0.65vmin #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--purple);
  background-repeat: no-repeat;
  background-size: cover;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  height: 100vh;
}

main {
  position: relative;
  top: 30%;
  padding: 2em;
  width: 45%;
  margin: auto;
}

h1 {
  margin-bottom: 20px;
}

#search {
  border-radius: 5px 5px 5px 5px;
  padding: 10px;
  font-size: 16px;
  width: 70%;
  height: 50px;
  border: none;
}

#submit {
  --borderColor: black;
  --fillColor: white;
  --textColor: black;
  
  color: var(--textColor);
  appearance: none;
  outline: none;
  border: 2px solid var(--borderColor);
  font-size: 16px;
  padding: 8px 12px 8px;
  box-shadow: 2px 2px 0px 0px var(--borderColor);
  border-radius: 8px;
  background-color: var(--fillColor);
  
  &:hover,
  &:focus {
    box-shadow: 3px 3px 0px 0px var(--borderColor);
  }
  &:active {
    box-shadow: 1px 1px 0px 0px var(--borderColor);
  }
}

#weather-wrapper {
  display: flex;
  flex-direction: column;
  place-items: center;
  height: 250px;
  background: var(--green);
  border-radius: 4vmin;
  box-shadow: var(--shadow-1);
  border: var(--border);
  position: relative;
  overflow: visible;
  padding-block: 4vmin;
  margin: auto;
}

#weather-search {
  display: flex;
  width: 50%;
  gap: 5px;
}

#weather-data {
  margin-top:5px;
}