:root {
  --green: #00ff9f;
  --yellow: #f8ff1d;
  --purple: #9c7bff;
  --blue: #4b69fe;
  --light-purple: #f8e0fa;
  --light-green: #b2e2bb;
  --light-yellow: #fbf4a0;
  --shadow-1: 1.5vmin 1.5vmin #000;
  --border: solid 1vmin #000;
  --border-small: solid 0.65vmin #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--purple);
  background-repeat: no-repeat;
  background-size: cover;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  height: 100vh;
}

main {
  position: relative;
  top: 30%;
  padding: 2em;
  width: 45%;
  margin: auto;
}

h1 {
  margin-bottom: 20px;
}

#search {
  border-radius: 5px 0 0 5px;
  padding: 10px;
  font-size: 16px;
  width: 70%;
  height: 50px;
  border: none;
}

#submit {
  border-radius: 0 5px 5px 0;
  padding: 10px;
  font-size: 16px;
  width: 5em;
  cursor: pointer;
}

#weather-wrapper {
  display: flex;
  flex-direction: column;
  place-items: center;
  height: 250px;
  background: var(--green);
  border-radius: 4vmin;
  box-shadow: var(--shadow-1);
  border: var(--border);
  position: relative;
  overflow: visible;
  padding-block: 4vmin;
  margin: auto;
}

#weather-search {
  display: flex;
  width: 50%;
  gap: 5px;
}
